<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../statics/styles/sidebar.css" />
  </head>
  <body>
    <div class="d-flex p-18 justify-content-between">
      <div class="wrap-film">
        <div>
          <img src="../images/Nhoi Nhoi.jpg" alt="" />
        </div>
        <div>
          <p>Ten Phim</p>
        </div>
        <div>
          <p>Dien Vien:</p>
        </div>
      </div>
      <div class="wrap-film"></div>
      <div class="wrap-film"></div>
      <div class="wrap-film"></div>
    </div>
  </body>
</html>
